    body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: rgba(5, 5, 79, 0.899);
    }
    p{color: white;
    font-size: medium;
    text-align: center;
    }
    nav {
      background-color: rgb(28, 139, 183);
      padding: 15px;
      text-align: center;
    }
  nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  nav ul li {
      display: inline-block;
      margin: 0 20px;
  }
    h3{
      background-color: skyblue;
      width: 47%;
      float: center;
      text-align: center;
      clear: right;
    }
    th{font-family: fantasy;
     background-color: rgba(255, 255, 255, 0.893);
    }
    th p{
      color: rgba(0, 0, 0, 0.603);
    }
    main{
    background-color: skyblue;
    width: 25%;
    height: 78vh;
    float: left;
    position: static;
    clear: left;
    margin-top: -38%;
    text-align: left;
    font-family: sans-serif;
    }
    div{
    background-color: skyblue;
    text-align: left;
    width: 25%;
    height: 78vh;
    float: right;
    position: static;
    clear: right;
    margin-top: -38%;
    font-family: sans-serif;
    }
    main ul p{
      background-color: rgb(28, 139, 183);
      color: black;
    }
    div ul p{
      background-color: rgb(28, 139, 183);
      color: black;
    }
    